@font-face {
    font-family: 'league-spartan';
    src: url('../assets/fonts/league-spartan/LeagueSpartan-VariableFont_wght.ttf');
}

body {
    background-color: white;
}

.header-logo {
    margin-left: 8%;

    display:flex;
    flex-direction: row;
    align-items: center;
}

.header-image {
    width: 32px;
    height: 32px;
    margin-right: 0.5%;
}

.header-text {
    font-size: 20px;
    font-weight: 600;
    font-family: league-spartan;
}

.side-line {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
}

main {
    margin-top: 2%;
    margin-left: 8%;
    font-family: league-spartan;
}

.hyper-button {
    border-radius: 5px;
    transition: 0.1s;
    padding: 0.5%;
    width: 14%;
}

.hyper-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.hyper-button-selected {
    border-radius: 5px;
    transition: 0.1s;
    padding: 0.5%;
    width: 14%;
}

.hyper-button-selected:hover {
    background-color: rgba(195, 220, 252, 0.5);
}

.topic-selector {
    font-size: 17px;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.topic-selected {
    opacity: 1;
    color: rgb(44, 98, 245);
}

.topic-unselected {
    opacity: 0.6;
}

.markdown-render-field {
    margin-left: 20%;
    position: absolute;
    top: 12.7%;
}