@font-face {
    font-family: 'league-spartan';
    src: url('../assets/fonts/league-spartan/LeagueSpartan-VariableFont_wght.ttf');
}

body {
    background-color: white;
}

.header-logo {
    margin-left: 8%;

    display:flex;
    flex-direction: row;
    align-items: center;
}

.header-image {
    width: 32px;
    height: 32px;
    margin-right: 0.5%;
}

.header-text {
    font-size: 20px;
    font-weight: 600;
    font-family: league-spartan;
}

.side-line {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
}

main {
    margin-top: 2%;
    margin-left: 8%;
    font-family: league-spartan;
}

.topic-button {
    border-radius: 5px;
    transition: 0.1s;
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;
    margin: 0;
}

.topic-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.topic-under-category {
    color: red;
}

.topic-under-category:hover {
    background-color: rgba(255, 0, 0, 0.1);
}

.topic-button-selected {
    border-radius: 5px;
    transition: 0.1s;
    padding: 0.5rem;
    width: 100%;
}

.topic-button-selected:hover {
    background-color: rgba(195, 220, 252, 0.5);
}

.topic-selected {
    opacity: 1;
    color: rgb(44, 98, 245);
}

.topic-selected:hover {
    background-color: rgba(195, 220, 252, 0.5);
}

.topic-unselected {
    opacity: 0.6;
}

.topic-category-button {
    border-radius: 5px;
    transition: 0.1s;
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topic-category-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.topic-category-button-unselected {
    opacity: 0.6;
}

.topic-category-button-selected .category-arrow {
    opacity: 1;
    color: rgb(44, 98, 245);
}

.category-arrow {
    margin-left: auto;
}

.category-arrow img {
    filter: brightness(0) saturate(100%) invert(85%) sepia(15%) saturate(353%) hue-rotate(194deg) brightness(96%) contrast(92%);
    transition: filter 0.3s ease;
}

.topic-category-button-selected .category-arrow img {
    filter: brightness(0) saturate(100%) invert(25%) sepia(90%) saturate(2267%) hue-rotate(224deg) brightness(100%) contrast(95%);
}

.topic-category-button-selected {
    opacity: 1;
    color: rgb(44, 98, 245);
}

.topic-category-button-selected:hover {
    background-color: rgba(195, 220, 252, 0.5);
}

.topic-category {
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    padding-left: 0.25rem;
}

.topic-selector {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 0 0 auto;
    width: 15%;
}

.content-container {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.display-window {
    flex: 1;
    padding: 1rem;
    min-height: 400px;
}

.right-panel {
    flex: 0 0 20%;
    padding: 1rem;
    min-height: 400px;
}