@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/league-spartan/LeagueSpartan-VariableFont_wght.ttf');
}

body {
    background-color: white;
}

.header-logo {
    margin-left: 8%;

    display:flex;
    flex-direction: row;
    align-items: center;
}

.header-image {
    width: 32px;
    height: 32px;
    margin-right: 0.5%;
}

.header-text {
    font-size: 20px;
    font-weight: 600;
    font-family: Roboto;
}

.side-line {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

.main {
    margin-left: 8%;
}