body {
    background-color: white;
}

.header {
    margin-left: 12%;
}

.header-text {
    font-size: 20px;
    font-weight: 550;
}

.side-line {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}